
            div {
             color:#B8B8FF;
             background-color:#9381ff;
             font-size: 1.5em;
             font-style: italic;
             font-family: courier, monospace, serif;
             border: 4px dashed #ffd8be;
             border-radius: 15px;
             padding: 20px;
            } 
            div:hover{
            background-color: aquamarine;
            }
      