h1 {
    background-color: #2435;
}
.quotetext {
    font-size: 1.5em;
    font-style: italic; 
}
#leftnav {
    background-color: #FF4499;
}
img{
    width: 300px;
}
#header  {
    border: 2px solid red;
    width: 80%;
    margin: auto;
}
#maincontent {
    background-color: cadetblue;
}

